.canvas-bg {
  background-image: linear-gradient(0deg, #2c2c3a 1px, transparent 1px),
    linear-gradient(90deg, #2c2c3a 1px, transparent 1px);
  background-size: 20px 20px;
}

svg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.node {
  z-index: 10;
  cursor: grab;
}
